#DALPlayer-ui-wrapper {
    --DALPlayer-white: #ffffff;
    --DALPlayer-white-80: #ffffffcc;
    --DALPlayer-white-50: #ffffff7f;
    --DALPlayer-white-30: #ffffff4c;
    --DALPlayer-black: #000000;
    --DALPlayer-black-overlay: #00000075;
    --DALPlayer-black-overlay-hover: #000000af;
    --DALPlayer-transition-fast: 0.1s ease-in-out;
    --DALPlayer-transition-slow: 0.3s ease-in-out;
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.DALPlayer-button {
    border: none;
    outline: none;
    background: transparent;
    opacity: 0.8;
    transition: all var(--DALPlayer-transition-fast);
    padding: 0.5rem;
    font-size: 1rem;
}

.DALPlayer-button:hover, .DALPlayer-button:active {
    opacity: 1;
}

.DALPlayer-time-display {
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--DALPlayer-white-80);
    background: transparent;
}

.DALPlayer-spinner {
    width: 4.375rem; /* ~70px */
    height: 4.375rem;
    border: 0.375rem solid transparent; /* ~6px */
    border-top-color: var(--DALPlayer-white);
    border-right-color: var(--DALPlayer-white);
    border-radius: 50%;
    animation: DALPlayerSpin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 10;
}

.DALPlayer-bottom {
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, var(--DALPlayer-black) 5%, var(--DALPlayer-black) 5%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 5rem; /* ~80px */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding: 2% 2%;
    box-sizing: border-box;
}

.DALPlayer-bottom-upper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.625rem; /* ~10px */
}

.DALPlayer-bottom-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.DALPlayer-bottom-lower-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 1.25rem; /* ~20px */
}

.DALPlayer-bottom-lower-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 1.25rem;
}

.DALPlayer-bottom-upper-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.DALPlayer-seekbar {
    position: relative;
    width: 100%;
    height: 0.5rem; /* ~8px */
    background-color: var(--DALPlayer-white-30);
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    z-index: 2;
    opacity: 0.8;
    transition: all var(--DALPlayer-transition-fast);
}

.DALPlayer-seekbar:hover, .DALPlayer-seekbar:active {
    opacity: 1;
}

.DALPlayer-buffered-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--DALPlayer-white-50);
    z-index: 1;
}

.DALPlayer-progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--DALPlayer-white);
}

.DALPlayer-thumb {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 0.875rem; /* ~14px */
    height: 0.875rem;
    background-color: var(--DALPlayer-white);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--DALPlayer-transition-fast);
    z-index: 3;
    pointer-events: auto;
    box-shadow: 0 0 2px var(--DALPlayer-black-overlay);
}

.DALPlayer-thumb:hover, .DALPlayer-thumb:active {
    transform: translate(-50%, -50%) scale(1.2);
}

.DALPlayer-poster {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-size: 100% 30%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center;
    transition: all var(--DALPlayer-transition-slow);
}

.DALPlayer-poster-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--DALPlayer-black-overlay);
    border-radius: 50%;
    padding: 1.25rem; /* ~20px */
    transition: all var(--DALPlayer-transition-slow);
}

.DALPlayer-poster-play-button:hover, .DALPlayer-poster-play-button:active {
    background: var(--DALPlayer-black-overlay-hover);
}

@keyframes DALPlayerSpin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}